/*Roboto-font*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html,
body {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    /*display: table;*/
    width: 100%;
    min-width: 100%;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

body {
    overflow-x: hidden;
}

footer {
    z-index: 1;
}

/*common-bootstrap-override-css*/
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.modal-lg {
    margin: 1.50rem auto;
}

.modal-header {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0rem 1.75rem;
    border-radius: 0 !important;
    border-bottom: 0px solid transparent;
}

.close {
    text-shadow: 0 1px 0 #000;
}

.theme-bg,
main {
    background: #f4f4f4;
}
.shadow-top {
    -webkit-box-shadow: 0 -1rem 2rem rgba(0,0,0,.125)!important;
    box-shadow: 0 -1rem 2rem rgba(0,0,0,.125)!important;
}

/*colors*/
.bg-primary,
button.bg-primary:focus {
    /*background-color: #3d6faa !important;*/
    background-color: #8a9c6a !important;
}

button.bg-primary:hover,
a.bg-primary:hover {
    /*background-color: #2b5990 !important;*/
    background-color: #758260 !important;
}

.bg-secondary,
button.bg-secondary:hover {
    background-color: #939598 !important;
}

.bg-info {
    background-color: #7dd4e2 !important;
}
.bg-off-white {
    background-color: #d8d8d8!important;
}
/*text-color css*/
.text-primary {
    color: #3d6faa !important;
}

.bg-green {
    background: #80a33d !important;
    ;
}

.text-green,
.text-green:hover {
    color: #80a33d;
}

.bg-pink {
    background-color: #ed4494;
}

.text-pink,
.text-pink:hover {
    color: #ed4494;
}

.bg-brown {
    background-color: #b4974d;
}

.bg-brown-gradient{
    background: linear-gradient(150deg,#b4974d,#dca61c);
}

.text-brown,
.text-brown:hover {
    color: #b4974c;
}

.bg-gold {
    background-color: #f8b91a;
}

.text-gold,
.text-gold:hover {
    color: #f8b91a;
}

.text-red,
.text-red:hover {
    color: #d01d45;
}

.bg-red {
    background-color: #d01d45;
}
.text-maroon{
    color: #792020;
}
.bg-light-green{
    background-color: #8c9b74 !important;
}
/*end*/
.nav-tabs .nav-link {
    border: 1px solid transparent;
    color: #495057;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 1px solid transparent;
    border-bottom: 2px solid #3d6faa;
    color: #3d6faa;
}

button:focus,
input,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table td,
.table th {
    padding: 0.50rem .25rem !important;
    font-weight: normal;
}

.icon-box {
    background: #2c4d78;
    background: #d01d45;
    background: #e463a0;
    /*background: linear-gradient(90deg,#d01d45,#8a9c6a);*/
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.data-table-main {
    width: 100%;
    -webkit-transition: 300ms all linear;
    transition: 300ms all linear;
}

.sidebar-wrapper {
    display: none;
    -webkit-transition: 1s all linear;
    transition: 1s all linear;
    -webkit-animation: slide-right 300ms linear;
    animation: slide-right 300ms linear;
}

.sidebar-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    z-index: 2;
}

.data-table-main-collapse {
    width: 80%;
}

.w-80 {
    width: 80%;
}
.d-none{
    display: none !important;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

section.dashboard.wrapper header.header-section .d-flex.justify-content-between{
    background: linear-gradient(150deg,#80a33d,#939598) !important;
}
section.dashboard.wrapper header.header-section div.Branches {
    min-height: 50px;
}

section.dashboard.wrapper header.header-section div.Branches div.filter {}

section.dashboard.wrapper header.header-section div.Branches div.Branches-inner,
section.wrapper header.header-section div.Branches div.Branches-inner {
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 100% !important;
}

div.Branches div.Branches-inner .branch.col-md-1.d-flex.flex-fill.align-items-center.justify-content-center {
    margin-right: 20px;
}

div.Branches div.Branches-inner .branch.col-md-1.d-flex.flex-fill.align-items-center.justify-content-center:last-of-type {
    margin-right: 0px;
}

section.dashboard.wrapper header.header-section div.Branches div.filter div.dropdown div.dropdown-menu,
section.wrapper header.header-section div.Branches div.filter div.dropdown div.dropdown-menu {
    min-width: 15rem;
    border-top: 5px solid #3d6faa !important;
    border-radius: 0px;
    -webkit-transform: translate3d(0px, 49px, 0px) !important;
    transform: translate3d(0px, 49px, 0px) !important;
}

section.dashboard.wrapper header.header-section div.Branches div.filter div.dropdown div.dropdown-menu div.all-franchise select.all-franchise-menu,
section.wrapper header.header-section div.Branches div.filter div.dropdown div.dropdown-menu div.all-franchise select.all-franchise-menu {
    position: relative;
    width: 210px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    padding: 5px;
    background: #fff url(../images/down-arrow.png) no-repeat right center;
    background-size: 36px auto;
}

section.dashboard.wrapper header.header-section div.profile-block div.media div.dropdown div.dropdown-menu,
section.wrapper header.header-section div.profile-block div.media div.dropdown div.dropdown-menu {
    border-radius: 0px;
    min-width: 13rem;
}

section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.data-table-header {
    padding: 10px 0 0;
    height: auto;
}

section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.data-table-header div.all-branches select.all-branches-menu,
section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.data-table-header div.all-agents select.all-agents-menu {
    position: relative;
    width: 210px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    padding: 5px;
    background: url(../images/down-arrow.png) no-repeat right center;
    background-size: 36px auto;
}

.dropdown-toggle::after {
    content: none;
    position: absolute;
}

div.info-btn-box div.dropdown div.dropdown-menu {
    border-top: 5px solid #3d6faa !important;
    border-radius: 0px;
    -webkit-transform: translate3d(-125px, 38px, 0px) !important;
    transform: translate3d(-125px, 38px, 0px) !important;
}

section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
    height: 39vw;
}

section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive table.table {
    border: 1px solid #ccc;
}

section.dashboard.wrapper main div.data-table-main div.data-table-inner div.navigation-btn-main button {
    font-size: 16px;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main {
    background: #f4f4f4;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.name-plate {
    min-height: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 5px;
    font-size: 24px;
    margin: 25px 0;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box {
    margin: 25px 0;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box input {
    min-height: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 26px;
    background: #f9f9f9;
    border-radius: 5px;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
    height: 56px;
    width: 95px;
    font-size: 24px;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button.clear {
    font-size: 20px;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
    width: 143px;
    font-size: 22px;
}

section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn div.delivery-btn button div.icon-box:first-child,
section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn div.takeout-btn button div.icon-box:first-child {
    border-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/*coustomerinfo page*/
section.wrapper.h-100 {
    background: #f4f4f4;
}

section.wrapper main div.container-fluid div.customer-info-block {
    width: 80%;
    background: #f4f4f4;
}

section.wrapper main div.container-fluid div.right-btns {
    width: 18%;
    background: #f4f4f4;
}

section.wrapper main div.container-fluid div.customer-info-block div.customer-info-form {
    border-right: 1px solid #f4f4f4;
}

div.right-btns div.right-btn-main div.right-btns button.btn-success div.d-flex div.icon-box {
    background: #357a39;
}

div.right-btns div.right-btn-main div.right-btns button.btn-danger div.d-flex div.icon-box {
    background: #aa2f27;
}

div.customer-info-block div.customer-info-form form.needs-validation div.col-md-12 div.all-Branch select.Branch-menu {
    position: relative;
    line-height: 20px;
    -webkit-appearance: none;
    border-radius: 5px;
    padding: 5px;
    background: url(../images/down-arrow.png) no-repeat right center;
    background-size: 36px auto;
}

div.customer-info-block div.customer-info-options div.card.active {
    background: #f4f4f4;
}

/*========================15-10-2018 mahapal=======================*/
.btn-bg {
    border: solid #fff;
    border-width: 1px 1px 0 0;
    padding: 1vw 0.3vw !important;
    font-size: 1vw;
}

.catalog-left .tab-pane {
    border: 1px solid #e7e7e7;
    padding-left: 1px;
    padding-bottom: 1px;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 29.5vw;
}

.catalog-left .nav-item {
    padding: .6vw 0.3vw !important;
    font-size: 1.1vw;
}

.yellow-green {
    background: #c6cc8a;
}

.bg-red-light {
    background: #ddbcba;
}

.font-weight-medium {
    font-weight: 500;
}

.bg-blue {
    background: #3d6faa;
}

.col-md-8.category-menu {
    padding-left: 0;
    overflow-y: auto;
    scroll-behavior: smooth;
    height: 30.5vw;
}

.catalog-right {
    margin-top: 5px;
}

.catalog-right::before {
    background: url(../images/catalog-top-img.png) repeat-x center center;
    background-size: 0.67em auto;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    display: block;
    top: -8px;
    height: 8px;
}

.main-content .catalog-right::before {    right: 15px;
}

.billing-box {
    background: #f2f2f2;
    padding: 1vw 1.2vw;
    margin-bottom: 1.5vw !important;
    margin-top: .6vw !important;
}

.billing-box p {
    font-size: 0.9rem;
    line-height: 1.2;
}

.table-design table th {
    font-weight: 500;
    border-bottom: 0;
}

.table-design .table td,
.table-design .table th {
    padding: 0.5vw 0.8vw !important;
    vertical-align: middle;
    font-size: 1vw;
}

.modal-body .bill-main .table-design .table td,
.modal-body .bill-main .table-design .table th {
    padding: 0.4vw 0.8vw !important;
    vertical-align: middle;
}

.modal-body .bill-main .table-design .table td,
.modal-body .bill-main .table-design .table th,
.modal-body .bill-main.catalog-right p,
.modal-body .bill-main.catalog-right .billing-box h6 {
    font-size: 1rem;
}

/*.modal-body .bill-main .table-design .item-col{ width: 45%;
}*/
.table-design .scroll-table-pad tr {
    margin-right: 10px;
}

.modal-body .bill-main .table-design .item-col,
.modal-body .bill-main .table-design .item-col-1 {
    width: 50%;
}

.modal-body .bill-main .table-design .price-col,
.modal-body .bill-main .table-design .price-col-3 {
    width: 10%;
}

.modal-body .bill-main .table-design .quantity-col,
.modal-body .bill-main .table-design .quantity-col-2 {
    width: 15%;
}

.modal-body .catalog-right .table-mb {
    margin: 0 0 10px !important;
}

.modal-body .scroll-table {
    border: 0px none;
}

.catalog-right .table-design .table td p {
    font-size: .9vw;
    line-height: 1;
}

.modal-body .bill-main.catalog-right .table-design .table td p {
    font-size: 0.75rem;
}

/*.quantity-calculate {
    width: 8.7vw;
}*/

.quantity-calculate .form-control {
    width: 2.5vw;
    font-size: 1vw;
    padding: 0;
    text-align: center;
    height: 2.4vw;
    max-width: 2.5vw;
}

.quantity-calculate .btn {
    background: #7b652cb5 url(../images/quantity-cal-icon.png) no-repeat;
    background-size: 3.3vw;
    border-radius: 0;
    padding: 0;
    width: 2em;
    margin-left: 1px;
    height: 2em;
    border: none;
}

.quantity-calculate .btn-plus {
    background-position: 0.8vw 0.7vw;
}

.quantity-calculate .btn-minus {
    background-position: -1.5vw 0.8vw;
}

.delete-icon {
    background: url(../images/delete-red-icon.png) no-repeat center;
    width: 2vw;
    height: 2vw;
    display: inline-block;
    vertical-align: middle;
    background-size: 1.5vw;
    margin-left: .4vw;
}

.total-amount td {
    font-weight: bold !important;
}

.row.kybord {
    margin: 0 -0.25vw !important;
}

.kybord .col-md-1 {
    max-width: 15%;
    -webkit-box-flex: inherit;
    flex: inherit;
    -ms-flex: inherit;
    margin: .25vw !important;
}

.kybord a {
    display: block;
    padding: 0.7vw 0 !important;
    font-size: 1.2vw;
}

.kybord .bg-clear {
    border: 1px solid #cccccc;
}
.col-md-8 a.kybord-btn{
    overflow: hidden;
    text-align: center;
}
.col-md-8 a.kybord-btn span.btn-img {
    background: #887544;
    float: left;
}

.billing-box h6 {
    font-size: 1.1vw;
}

.catalog-right p {
    font-size: 1vw;
}

.catalog-top-had h3 {
    font-size: 2vw;
    line-height: 1;
}

.catalog-right .table-mb {
    margin-bottom: 1.5vw;
}

.kybord-row .kybord-pr {
    padding-right: .1vw;
}

.kybord-row .kybord-pl {
    padding-left: .1vw;
}

.catalog-body main {
    height: auto !important;
}

.scroll-table {
    overflow-y: auto;
    height: 15.4vw;
    border-bottom: 1px solid #dee2e6;
}

.table-design .scroll-table-pad {
    border-bottom: 0;
}
#sidebar-btn img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#sidebar-btn.sidebar-btn-toggle img {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
a.btn.cancel,a.btn.save {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 22% !important;
    flex: 0 0 22% !important;
    max-width: 22.65% !important;
}

/*checkbox css strat*/
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-check-box label {
    text-indent: 55px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    height: 20px;
    width: 20px;
    border: 1px solid #3d6faa;
    vertical-align: middle;
}

/* On mouse-over, add a grey background color */
.custom-check-box:hover input ~ .checkmark {
    background-color: #f4f4f4;
}

/* When the checkbox is checked, add a blue background */
.custom-check-box input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-check-box input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-check-box .checkmark:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    margin: auto;
    height: 10px;
    border: solid #3d6faa;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*checkbox end*/
/*login page*/
.login-btns button.btn.bg-primary.text-white.p-0.m-1 {
    height: 60px;
    width: 80px;
    font-size: 24px;
}

button.btn.bg-secondary.p-0.m-1 {
    height: 60px;
    width: 80px;
    font-size: 22px;
}

.login-inputbox.text-center input {
    min-height: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
    width: 260px;
}

.forgot-inputbox input {
    min-height: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    width: 260px;
}

div.login-btns div.d-flex.justify-content-around button.btn.text-white.p-0.m-1 {
    height: 60px;
    width: 125px;
    font-size: 20px;
}

main.access-page.d-flex div.container div.d-flex div.w-600,
main.fr-access-page.d-flex div.container div.d-flex div.w-600 {
    width: 600px;
}

main.access-page.d-flex div.container div.d-flex div.w-600 div.login-btns {
    width: 300px;
}

.selected-row {
    background: #9395984f;
}

.modal .modal-body .scroll-table {
    /*height: 100%;*/
    overflow: auto;
}

.modal-content {
    border: 0px solid transparent;
}

.modal .modal-body .catalog-right::before {
    background:url(../images/catalog-top-img.png) repeat-x;
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    display: block;
    top: -7px;
    height: 8px;
    height: 0.5em;
    background-size: 1em 100%;
    background-position: center;
}

/*drivers page*/
div.driver-sidebar div.all-branches select.all-branches-menu {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    padding: 5px;
    background: url(../images/down-arrow.png) no-repeat right center;
    background-size: 36px auto;
}

div.driver-sidebar div.drivers-list,
.drivers-detail,
.driver-order-detail,
.cus-detail {
    height: auto;
    overflow-y: auto;
}

div.driver-sidebar div.drivers-list div a {
    text-decoration: none;
}

.drivers-detail .drivers-orders.card {
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-animation: 600ms fade-in;
    animation: 600ms fade-in;
}

.driver-order-detail .bill-main {
    -webkit-box-shadow: 0px -4px 25px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px -4px 25px 0px rgba(0, 0, 0, 0.25);
}
.modifiers-menu {
    overflow-x: hidden;
    overflow-y: auto;
}
#modal-shortnote .modal-body textarea,#modal-notew .modal-body textarea{
    font-size: 1.2rem;
    height: 200px;
}
div.special-block select.special-select{
    position: relative;
    width: 300px;
    line-height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
    background: url(../images/down-arrow.png) no-repeat right center;
    background-size: 36px auto;
}
.coupon-number-panel a.btn {
    height: 50px;
    width: 50px !important;
    flex: 0 0 23% !important;
    line-height: 40px;
}
.coupon-number-panel a.btn:last-of-type{
    flex: 0 0 73% !important;
}
.drivers-status{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}
.select-branch{
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
}
.btns a.btn.bg-brown span.btn-img{
    background: #695931;
}
input.error{
    border-color: red;
}
label.error{
    color: red;
}
.order-name,.item-col{
    width: 50%;
}
.order-qty,.quantity-col{
    width: 25%;
}
.order-price,.price-col{
    width: 25%;
    text-align: right;
}
div#modifier_1061 span.text-muted.text-left:nth-child(1){
    width: 50%;
}
div.alphabet a.cancel {
    flex: 0 0 9.333333% !important;
    max-width: 9.333333% !important;
}
/*--------------media query strat here--------------*/
@media screen and (max-width: 1920px) {
    .catalog-left .nav-item {
        padding: 1vw 0.3vw !important;
    }

    .catalog-left .tab-pane {
        height: 32.5vw;
    }

    .scroll-table {
        height: 19.9vw;
    }
    .modifiers-menu {
        height: 47em;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
        height: 70px;
        width: 80px;
        font-size: 24px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
        width: 130px;
    }

    .navigation-btns button {
        width: 160px;
    }

    .navigation-btns button div.text-white.flex-fill.text-uppercase.text-left.px-2.text-center {
        text-align: center !important;
    }

    section.wrapper main div.container-fluid div.customer-info-block {
        height: 82vh;
        overflow: auto;
    }

    .customer-info-options.bg-white.p-2.shadow-sm.col-md-6 {
        height: 79vh;
        overflow: auto;
    }

    @-moz-document url-prefix() {
        section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
            height: 38.5vw;
        }

        .catalog-left .tab-pane {
            height: 32vw;
        }
    }

    section.wrapper main div.container-fluid div.right-btns {
        width: 12%;
    }

    main.access-page h1,
    main.fr-access-page h1 {
        font-size: 24px;
    }

    div.fr-btns div.d-flex.justify-content-around button.btn.text-white.p-0.m-1 {
        height: 45px;
        width: 125px;
        font-size: 18px;
    }

    div.driver-sidebar div.drivers-list div a {
        padding: 1rem;
    }

    .drivers-detail,
    .cus-detail {
        height: 58em;
    }

    div.driver-sidebar div.drivers-list {
        height: 55em;
    }
    a.qty-num{
        height: 55px;
        line-height: 44px;
        width: 100%;
        margin: 0.20em 0.11rem !important;
        font-size: 1.2rem;
    }
    .col-md-8 a.kybord-btn{
        line-height: 50px;
        height: 55px;
        width: 23.9%;
        margin: 0.25em 0.1em !important;
        font-size: 1em;
    }
    .col-md-8 a.kybord-btn.shortnote{
        line-height: 26px;
    }
    .col-md-8 a.kybord-btn span.btn-img {
        width: 34%;
        display: inherit;
        text-align: center !important;
        height: 60px;
    }
    .col-md-8 a.kybord-btn span.btn-img img {
        width: 60%;
        text-align: center;
        padding: 5px 0;
    }
    div.modifiers-menu-main div.modifiers-menu-inner div.modifiers-left div a.col-md-12{
        height: 85px;
        line-height: 70px;
        font-size: 1.4rem;
    }
    .select-branch{
        height: 48em;
    }
}

@media screen and (max-width: 1600px) {
    .catalog-left .tab-pane {
        height: 48.5vw;
    }

    .btn-bg {
        padding: 1.96vw 0.3vw !important;
    }

    .col-md-8.category-menu,.modifiers-menu {
        height: 53.5vw;
    }

    .table-design .table td,
    .table-design .table th {
        padding: 10px !important;
    }

    .catalog-left .nav-item {
        padding: 1.2vw 0.3vw !important;
    }

    .scroll-table {
        height: 27.8vw;
    }

    /*footer { margin-bottom: 50px; }*/
    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
        height: 50vw;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
        height: 70px;
        width: 80px;
        font-size: 24px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
        width: 130px;
    }

    .customer-info-options.bg-white.p-2.shadow-sm.col-md-6 {
        height: 79.3vh;
    }

    section.wrapper main div.container-fluid div.right-btns {
        width: 15%;
    }

    section.wrapper main div.container-fluid div.right-btns .right-btn-main.d-flex.flex-column.align-items-center.justify-content-center.px-2.py-3 {
        padding: 20px !important;
    }

    @-moz-document url-prefix() {
        section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
            height: 50vw;
        }
    }
    a.qty-num{
        height: 55px;
        line-height: 44px;
        width: 100%;
        margin: 0.20em 0.11rem !important;
        font-size: 1.2rem;
    }
    .col-md-8 a.kybord-btn{
        line-height: 50px;
        height: 55px;
        width: 23.9%;
        margin: 0.25em 0.1em !important;
        font-size: 1em;
    }
    .col-md-8 a.kybord-btn.shortnote{
        line-height: 26px;
    }
    .col-md-8 a.kybord-btn span.btn-img {
        width: 40%;
        display: inherit;
        text-align: center !important;
        height: 60px;
    }
    .col-md-8 a.kybord-btn span.btn-img img {
        width: 60%;
        text-align: center;
        padding: 5px 0;
    }
    div.modifiers-menu-main div.modifiers-menu-inner div.modifiers-left div a.col-md-12{
        height: 85px;
        line-height: 70px;
    }
    .select-branch{
        height: 55em;
    }
}

@media screen and (max-width: 1366px) {
    .sidebar-show {
        width: 320px;
    }

    .catalog-left .tab-pane {
        height: 28vw;
    }

    .col-md-8.category-menu,.modifiers-menu {
        height: 32vw;
    }

    .scroll-table {
        height: 11.5em;
    }

    .table-design .table td,
    .table-design .table th {
        padding: 5px !important;
    }

    .btn-bg {
        padding: 0.96vw 0.3vw !important;
    }

    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
        height: 32vw;
    }

    .sidebar-inner.d-flex.flex-column.py-3.flex-fill.px-4.p-xxl-0.mh-100.h-100.bg-white {
        padding: 0 10px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.name-plate {
        min-height: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        margin: 10px 0 !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box {
        margin: 10px 0;
        padding: 0 !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box input {
        min-height: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
        height: 55px;
        width: 55px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
        width: 110px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button.clear {
        font-size: 18px;
    }

    .navigation-btns button {
        width: 160px;
    }

    .customer-info-options.bg-white.p-2.shadow-sm.col-md-6 {
        height: 77.9vh;
    }

    @-moz-document url-prefix() {
        section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
            height: 31.3vw;
        }
    }

    .login-btns button.btn.bg-primary.text-white.p-0.m-1,
    button.btn.bg-secondary.p-0.m-1 {
        height: 45px;
        width: 70px;
        font-size: 20px;
        margin: 3px !important;
    }

    div.login-btns div.d-flex.justify-content-around button.btn.text-white.p-0.m-1 {
        height: 50px;
        width: 108px;
        font-size: 18px;
    }

    main.access-page .login-inputbox.text-center.my-3 {
        margin: 10px 0 !important;
    }

    main.access-page .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-size: 1.5vw !important;
    }

    .login-inputbox.text-center input {
        min-height: 45px;
        height: 45px;
        line-height: 45px;
        font-size: 20px;
        width: 225px;
    }

    .modal-dialog {
        margin: 1rem auto;
    }

    div.driver-sidebar div.drivers-list div a {
        padding: 0.50rem;
    }

    .modal-lg {margin: 0.6rem auto;}

    .drivers-detail,
    .cus-detail {
        height: 39em;
    }

    div.driver-sidebar div.drivers-list {
        height: 35em;
    }
    a.qty-num{
        height: 40px;
        line-height: 34px;
        width: 100%;
        margin: 0.20em 0.11rem !important;
    }
    .col-md-8 a.kybord-btn{
        line-height: 38px;
        height: 40px;
        width: 23%;
        margin: 0.25em 0.1em !important;
        font-size: 0.80em;
        text-align: content: '';
    }
    .col-md-8 a.kybord-btn.shortnote{
        line-height: 18px;
    }
    .col-md-8 a.kybord-btn span.btn-img {
        width: 30%;
        display: inherit;
        text-align: center !important;
        height: 40px;
    }
    .col-md-8 a.kybord-btn span.btn-img img {
        width: 70%;
        text-align: center;
        padding: 5px 0;
    }
    div.modifiers-menu-main div.modifiers-menu-inner div.modifiers-left div a.col-md-12{
        height: 55px;
        line-height: 40px;
    }
    .select-branch{
        height: 29em;
    }
}

@media screen and (max-width: 1280px) {
    .sidebar-show {
        width: 320px;
    }

    .catalog-left .tab-pane {
        height: 33vw;
    }

    .col-md-8.category-menu ,.modifiers-menu{
        height: 37vw;
    }

    .btn-bg {
        padding: 1.1vw 0.3vw !important;
    }

    /*.table-design .table td,
    .table-design .table th {
        padding: 0.8vw 0.8vw !important;
    }*/

    .scroll-table {
        height: 14em;
    }

    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
        height: 37vw;
    }

    .sidebar-inner.d-flex.flex-column.py-3.flex-fill.px-4.p-xxl-0.mh-100.h-100.bg-white {
        padding: 0 10px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.name-plate {
        min-height: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        margin: 10px 0 !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box {
        margin: 10px 0;
        padding: 0 !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box input {
        min-height: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
        height: 55px;
        width: 68px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
        width: 110px;
        font-size: 20px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button.clear {
        font-size: 18px;
    }

    .customer-info-options.bg-white.p-2.shadow-sm.col-md-6 {
        height: 78vh;
    }

    @-moz-document url-prefix() {
        section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
            height: 35.9vw;
        }

        .scroll-table {
            height: 18vw;
        }
    }

    div.driver-sidebar div.drivers-list {
        height: 37em;
    }

    .drivers-detail,
    .cus-detail {
        height: 40em;
    }
    a.qty-num{
        height: 40px;
        line-height: 34px;
        width:100%;
        margin: 0.20em 0.11rem !important;
        font-size: 1rem;
    }
    .col-md-8 a.kybord-btn{
        line-height: 38px;
        height: 40px;
        width: 108px;
        margin: 0.25em 0.1em !important;
        font-size: 0.80em;
    }
    .col-md-8 a.kybord-btn.shortnote{
        line-height: 18px;
    }
    .col-md-8 a.kybord-btn span.btn-img {
        width: 28%;
        display: inherit;
        text-align: center !important;
        height: 40px;
    }
    .col-md-8 a.kybord-btn span.btn-img img {
        width: 80%;
        text-align: center;
        padding: 5px 0;
    }
    div.modifiers-menu-main div.modifiers-menu-inner div.modifiers-left div a.col-md-12{
        height: 55px;
        line-height: 40px;
            font-size: 1rem;
    }
    .select-branch{
        height: 30em;
    }
}

@media screen and (max-width: 1024px) {
    .sidebar-show {
        width: 320px;
    }

    .catalog-left .tab-pane {
        height: 41.2vw;
    }

    .col-md-8.category-menu,.modifiers-menu {
        height: 45.4vw;
    }

    .btn-bg {
        padding: 1.1vw 0.3vw !important;
    }

    /*.table-design .table td,
    .table-design .table th {
        padding: 0.5em !important;
    }*/

    .scroll-table {
        height: 13.5em;
    }

    .w-80 {
        width: 100%;
        padding:.5rem 0px !important;
    }

    .navigation-btns button span {
        font-size: 1.25vw;
    }

    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
        height: 45vw;
    }

    .sidebar-inner.d-flex.flex-column.py-3.flex-fill.px-4.p-xxl-0.mh-100.h-100.bg-white {
        padding: 0 10px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.name-plate {
        min-height: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin: 10px 12px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box {
        margin: 10px 0;
        padding: 0 12px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btn-input-box input {
        min-height: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button {
        height: 55px;
        width: 68px;
        font-size: 18px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.action-btn a {
        width: 100px;
        font-size: 18px;
    }

    section.dashboard.wrapper main div.container-fluid div.sidebar-main div.d-flex div.sidebar-inner div.dial-btns-box button.clear {
        font-size: 16px;
    }

    .all-branches.mr-4,
    .all-agents.mr-4,
    .search-box.mr-4 {
        margin-right: 10px !important;
    }

    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.data-table-header div.all-branches select.all-branches-menu,
    section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.data-table-header div.all-agents select.all-agents-menu {
        width: 140px;
    }

    .custom-check-box label {
        text-indent: 35px;
    }

    .checkmark {
        left: 9px;
    }

    .table-responsive .table td,
    .table th {
        padding: 0.40rem .15rem !important;
        font-weight: normal;
        font-size: 0.90em;
    }

    .navigation-btns button {
        width: auto;
    }

    section.wrapper main div.container-fluid div.right-btns .right-btn-main.d-flex.flex-column.align-items-center.justify-content-center.px-2.py-3 {
        padding: 10px 5px !important;
    }

    section.wrapper main div.container-fluid div.right-btns button.btn.bg-primary.p-0.rounded.btn-block div.text-white.flex-fill.text-uppercase.text-left.px-3 {
        padding: 0 10px !important;
    }

    @-moz-document url-prefix() {
        section.dashboard.wrapper main div.container-fluid div.data-table-main div.data-table-inner div.table-responsive {
            height: 41.8vw;
        }
    }

    .driver-order-detail .catalog-right,
    .driver-order-detail .billing-box h6 {
        font-size: .99rem !important;
    }

    .driver-order-detail .catalog-right .table-design .table td,
    .driver-order-detail .catalog-right .table-design .table th,
    .driver-order-detail .catalog-right p {
        font-size: 0.80rem;
    }
    .cus-order-detail .catalog-right,
    .cus-order-detail .billing-box h6 {
        font-size: .99rem !important;
    }

    .cus-order-detail .catalog-right .table-design .table td,
    .cus-order-detail .catalog-right .table-design .table th,
    .cus-order-detail .catalog-right p {
        font-size: 0.80rem;
    }

    .drivers-detail,
    .cus-detail {
        height: 38em;
    }
    .table-design .table td, .table-design .table th{
        font-size:.80rem;
    }
    .catalog-right .table-design .table td p {
        font-size: 0.80em;
        line-height: 1;
    }
    .btn-bg {font-size: 0.75em;}
    .cus-info .h1, .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5{
        font-size: 1.1em !important;
    }
    .alphabet a{
        margin: 0.125rem !important;
    }
    a.qty-num{
        height: 40px;
        line-height: 34px;
        width: 3.25em;
        margin: 0.20em 0.11rem !important;
    }
    .col-md-8 a.kybord-btn{
        line-height: 38px;
        height: 40px;
        width: 100px;
        margin: 0.25em 0.1em !important;
        font-size: 0.80em;
        text-align: content: '';
    }
    .col-md-8 a.kybord-btn.shortnote{
        line-height: 18px;
    }
    .col-md-8 a.kybord-btn span.btn-img {
        width: 30%;
        display: inherit;
        text-align: center !important;
        height: 40px;
    }
    .col-md-8 a.kybord-btn span.btn-img img {
        width: 80%;
        text-align: center;
        padding: 5px 0;
    }
    div.modifiers-menu-main div.modifiers-menu-inner div.modifiers-left div a.col-md-12{
        height: 55px;
        line-height: 40px;
    }
    .cus-orders.card , .drivers-detail .card {font-size: 0.9rem;}
    .select-branch{
        height: 30em;
    }
    .backspace_alphabet {height: 40px !important;width: 50px !important;}
    div.alphabet a.cancel {flex: 0 0 10.333333% !important;max-width: 11.333333% !important;padding: 0.375rem 0.25rem;}
    .order-name,.item-col{
        width: 40%;
    }
    .order-qty,.quantity-col{
        width: 30%;
    }
    .order-price,.price-col{
        width: 26%;
    }
    div#modifier_1061 span.text-muted.text-left:nth-child(1){
        width: 40%;
    }
}

/*button.btn, a.btn {
    background: #8a9c6a !important;
}*/
/*===============15-10-2018 mahapal end==============*/
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
    }

    25% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }

    50% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    75% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(400px);
        transform: translateX(400px);
    }

    25% {
        -webkit-transform: translateX(300px);
        transform: translateX(300px);
    }

    50% {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }

    75% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
